<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (C) 2025 Răzvan Albu
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_HIDDEN_PROFILES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name=".Stario"
        android:appCategory="productivity"
        android:enableOnBackInvokedCallback="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:persistent="true"
        android:rollbackDataPolicy="wipe"
        android:supportsRtl="false"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">

        <activity
            android:name=".activities.settings.Settings"
            android:allowEmbedded="false"
            android:alwaysRetainTaskState="false"
            android:exported="true"
            android:launchMode="standard"
            android:rotationAnimation="crossfade"
            android:supportsPictureInPicture="false"
            android:theme="@style/Theme.Light.Blue.Opaque" />

        <activity
            android:name=".activities.Launcher"
            android:allowEmbedded="false"
            android:alwaysRetainTaskState="true"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:exported="true"
            android:launchMode="singleTask"
            android:persistableMode="persistAcrossReboots"
            android:resumeWhilePausing="true"
            android:rotationAnimation="crossfade"
            android:stateNotNeeded="true"
            android:supportsPictureInPicture="false"
            android:theme="@style/Theme.Light.Blue">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER_APP" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.NotificationService"
            android:exported="false"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name=".services.AccessibilityService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <provider
            android:name="org.chickenhook.restrictionbypass.BypassProvider"
            android:authorities="${applicationId}.restrictionbypass"
            tools:node="remove" />
    </application>
</manifest>